Flask
Django
FastAPI
uvicorn
gunicorn
Werkzeug
requests
aiohttp
httpx
urllib3
pyTelegramBotAPI
python-telegram-bot
pyrogram
tgcrypto
discord.py
telethon
firebase-admin
pymongo
motor
redis
psycopg2-binary
SQLAlchemy
mysql-connector-python
Faker
mimesis
numpy
pandas
scikit-learn
scipy
opencv-python
matplotlib
seaborn
beautifulsoup4
lxml
scrapy
selenium
playwright
Pillow
PyPDF2
python-docx
openpyxl
python-dotenv
cryptography
bcrypt
pyjwt
pydantic
colorama
tqdm
certifi
asyncio
psutil